/* .news-card {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.news-card img {
  width: 100%;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.news-card h5 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.news-card p {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 0.5rem;
}

.news-card-footer {
  display: flex;
  justify-content: flex-end;
} */